<%= render 'tab' %>
<h3> 
  All Countries
</h3>

<table class="table table-striped">
  <tr>
    <th>
      #
    </th>
    <th>
      Name
    </th>
    <th>
      Amount
    </th>
    <th>population</th>
    <th>supply_per_year</th>
    <th>withdrawal_per_year</th>
    <th>withdrawal_per_capita</th>
  </tr>
  <% @countries.each do |country| %>
  <tr>
    <td><%= country.id %></td>
    <td><%= country.name %></td>
    <td><%= country.amount %></td>
    <td><%= country.population %></td>
    <td><%= country.supply_per_year %></td>
    <td><%= country.withdrawal_per_year %></td>
    <td><%= country.withdrawal_per_capita %></td>

  </tr>
  <% end %>
</table>

<%= link_to 'New Country', new_admin_country_path, :class => 'btn btn-default' %>
