<%= render 'tab' %>
<h3> 
  All Deposits
</h3>

<table class="table table-striped">
  <tr>
    <th>
      #
    </th>
    <th>
      Email
    </th>
    <th>
      Amount
    </th>
    <th>
      Delete
    </th>
  </tr>
  <% @deposits.each do |deposit| %>
  <tr>
    <td><%= deposit.id %></td>
    <td><%= link_to deposit.email, edit_admin_deposit_path(deposit) %></td>
    <td>
      <%= deposit.amount %><br/><br/>
      <% deposit.deposit_hotspots.each do |dh| %>
        <%= dh.hotspot.name %> / <%= dh.amount %><br/>
      <% end %>
    </td>
    <td><%= link_to "Delete", admin_deposit_path(deposit), data: {method: :delete, confirm: "are you sure?"} %></td>
  </tr>
  <% end %>
</table>

<%= will_paginate @deposits %>

