<%= render 'tab' %>
<h3> 
  All Hotspots
</h3>

<table class="table table-striped">
  <tr>
    <th>
      #
    </th>
    <th>
      Name
    </th>
    <th>
      Position
    </th>
    <th>
      Invested Drops
    </th>
  </tr>
  <% @hotspots.each do |hotspot| %>
  <tr>
    <td><%= hotspot.id %></td>
    <td><%= link_to hotspot.name, edit_admin_hotspot_path(hotspot) %></td>
    <td><%= "#{hotspot.lon}, #{hotspot.lat}" %></td>
    <td><%= hotspot.deposit_hotspots.sum(:amount) %></td>
  </tr>
  <% end %>
</table>

<%= link_to 'New Hotspot', new_admin_hotspot_path, :class => 'btn btn-default' %>
